@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* --- Estilos generales --- */
.background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* --- Estilos para el index --- */
.tituloindex{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 15%;
    font-size: 50px;

    background-color: white;
    margin-left: 25%;
    border-radius: 50px;
}

.tituloindexpequeño{
    font-size: 25px;
}

a .botonindex{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    margin-bottom: 40%;
    transition: transform 0.5s;

    border-radius: 100px;
    background-color: rgb(168, 37, 109);
    color: white;
}

a .botonindex:hover{
    transform: scale(1.15);
    cursor: pointer;
}

/* --- Estilos para el juego --- */
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tarjeta{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 75vh;
}

.tarjeta img.fotopersonaje {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 600px;
}

.tarjeta .nombrepersonaje{
    font-size: 25px;
}

.tarjeta .animepersonaje{
    margin-top: -1%;
}

.tarjeta .botonestarjeta{
    display: flex;
    gap: 30%;
    justify-content: center;
}

.tarjeta .botonestarjeta .botonpass,
.tarjeta .botonestarjeta .botonsmash{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    margin-bottom: 40%;
    transition: transform 0.5s;

    border-radius: 100px;
    background-color: rgb(168, 37, 109);
    color: white;
}

.tarjeta .botonestarjeta .botonpass:hover,
.tarjeta .botonestarjeta .botonsmash:hover{
    transform: scale(1.15);
    cursor: pointer;
}